@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

.welcome-btn-container {
  box-sizing: border-box;
  margin: 0;
  display: grid;
  place-content: center;
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-content: center;
}

:root {
  --h: 33;
  --s: 90%;
  --l: 90%;

  font-family: "Noto Sans", sans-serif;
}

.glass {
  display: none;
  // width: 100%;
  // max-width: 75vw;
  height: 100%;
  max-height: 66vh;
  padding: 2rem;
  border-radius: 25px;
  box-shadow: 0 2px 10px rgb(0 0 0 / 10%), 0 10px 15px rgb(0 0 0 / 20%);
  backdrop-filter: blur(0.4em);
  background: hsla(212, 11%, 60%, 0);
  // background-image: linear-gradient(45deg, rgba(32,152,255,0.8), rgba(172,50,249,0.8));;
  transition: 0.3s ease;
  mix-blend-mode: hard-light;
  @media screen and (max-height: 480px) {
    padding: 0.8em;
  }
}

.welcome-btn {
  font-size: clamp(1.2rem, 5vw + 1rem, 2.5rem);
  width: 10em;
  height: 4em;

  border-radius: 0.5em;
  background: hsla(212, 11%, 60%, 0);

  box-shadow: 0 -0.125em 0.25em #0002,
    0 0.25em 0.25em hsl(var(--h) var(--s) var(--l) / 0.5),
    0 0 0 0.1em hsl(var(--h) var(--s) var(--l) / 0.5),
    0 0.175em 0.3em hsl(var(--h) var(--s) var(--l) / 0.5) inset,
    0 -0.025em 0.175em hsl(var(--h) var(--s) var(--l) / 0.4) inset,
    0 -0.25em 1em 0.3em hsl(var(--h) var(--s) var(--l) / 0.3) inset,
    0 0.6em 0 hsl(var(--h) var(--s) var(--l) / 0.3) inset, 0 2em 1em #0004;
  backdrop-filter: blur(0.15em);
  place-content: center;
  color: hsl(var(--h) var(--s) var(--l) / 0.7);
  text-shadow: 0.03em 0.03em #fff5, -0.03em -0.03em #0005;
  cursor: pointer;
  transition: 0.1s ease;
  padding-top: 0.2em;
}

.welcome-btn:after {
  content: "";
  inset: 0;
  top: 0.5em;

  background-image: linear-gradient(
    105deg,
    transparent 20%,
    hsl(var(--h) var(--s) var(--l) / 0.2) 20%,
    hsl(var(--h) var(--s) var(--l) / 0.2) 30%,
    transparent 30%,
    transparent 32%,
    hsl(var(--h) var(--s) var(--l) / 0.2) 5%,
    hsl(var(--h) var(--s) var(--l) / 0.2) 40%,
    transparent 0%
  );
  background-size: 400% 100%;
  background-position: 100% 0%;
  transition: 0.3s ease;
}

.welcome-btn:active:after {
  background-position: -50% 0%;
}

// button press animation
.welcome-btn:active {
  translate: 0.01em 0.25em;
  box-shadow: 0 -0.125em 0.25em #0002,
    0 0.25em 0.25em hsl(var(--h) var(--s) var(--l) / 0.5),
    0 0 0 0.1em hsl(var(--h) var(--s) var(--l) / 0.5),
    0 0.175em 0.3em hsl(var(--h) var(--s) var(--l) / 0.8) inset,
    0 -0.025em 0.175em hsl(var(--h) var(--s) var(--l) / 0.4) inset,
    0 -0.25em 1em 0.3em hsl(var(--h) var(--s) var(--l) / 0.3) inset,
    0 0.6em 0 hsl(var(--h) var(--s) var(--l) / 0.3) inset, 0 1em 0.5em #0004;
  backdrop-filter: blur(0.08em);
}

.welcome-btn:active:before {
  height: 1em;
}

.dots {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 100px;
  height: 50px;
  --red: #fc199a;
  --close: radial-gradient(circle, var(--red), var(--red) 7px, transparent 8px);
  background: var(--close) -28px no-repeat;
  filter: brightness(0.5);
  opacity: 0.75;
  cursor: pointer;
  border: none;
}

.scrolle {
  max-height: 100%;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  background-color: hsla(212, 11%, 60%, 0);
  border-radius: 50px;
  width: 0.5em;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
}

.first {
  margin-top: 25vh;
  font-size: 70px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 200;
  text-align: center;
  letter-spacing: 0.75em;
  color: rgb(109, 17, 55);
}

.title {
  margin-top: -50px;
  font-size: 50px;
  font-family: "Rajdhani", sans-serif;
  letter-spacing: 0.25em;
  text-align: center;
  color: rgb(109, 17, 55);
}

.second {
  padding-top: 0;
  margin-top: 220px;
  font-size: 60px;
  text-align: center;
  color: rgb(109, 17, 55);
}

.aboutme {
  // margin-left: 20vh;
  display: inline-block;
  padding: 0 0 0 10vh;
  align-items: start;
  color: rgb(109, 17, 55);
  font-size: 30px;
  word-break: break-word;
  text-align: center;
  width: 50vh;
}

/* Explanation in JS tab */

#container {
  /* Center the text in the viewport. */
  display: inline-block;
  float: block-start;
  margin: 0 0 0 10vh;
  width: 25vh;
  height: 25vh;

  /* This filter is a lot of the magic, try commenting it out to see how the morphing works! */
  filter: url(#threshold) blur(0.6px);
}

/* Your average text styling */
#text1,
#text2 {
  position: absolute;
  color: rgb(109, 17, 55);
  width: 100%;
  word-break: break-word;
  // height: 100%;
  // display: flexbox;

  font-family: "Raleway", sans-serif;
  font-size: 50pt;

  text-align: center;

  user-select: none;
}

#filters {
  margin: auto;
}

.rounded {
  margin-top: 35vh;
  border-top: 8px solid #fff;
  border-radius: 5px;
}

.skills {
  padding-top: 20vh;
  color: rgb(109, 17, 55);
  font-size: 60px;
  margin-left: 25vh;
}

.pskills {
  display: inline-block;
  margin-left: 10vh;
  color: rgb(109, 17, 55);
  font-size: 30px;
  word-break: break-word;
  width: 50vh;
}

// skills animation
.tagline,
.tagline-skill {
  height: 90px;
}

.tagline {
  font-family: "Fira Mono", monospace;
  overflow: hidden;
  background-color: hsla(212, 11%, 60%, 0);
  backdrop-filter: blur(0.4em);
  color: #fff;
}

.tagline-skill {
  position: relative;
  font-size: 3em;
  animation: animatetotop 6s steps(3) infinite;
}

.tagline-skill_inner,
.tagline-skill-overlay {
  display: inline-block;
}

.tagline-skill_inner {
  position: relative;
  line-height: 1;
}

.tagline-skill_inner:after {
  content: "";
  position: absolute;
  top: -1px;
  right: 0;
  bottom: -5px;
  left: 0;
  border-left: 1px solid #fff;
  background-color: #655cb0;
  animation: animatetoright 1s steps(10) infinite alternate;
}

@keyframes animatetoright {
  0% {
    left: 0;
    margin-right: auto;
  }
  100% {
    left: 100%;
    margin-left: 0.6em;
    margin-right: -0.6em;
  }
}

@keyframes animatetotop {
  0% {
    top: 0;
  }
  100% {
    top: -240px;
  }
}

header {
  text-align: center;
  // padding: 0;
  // box-sizing: border-box;
  display: inline-block;
  float: block-start;
  // margin: 10vh 10vh 10vh 10vh;
  // width: 25vh;
  // height: 25vh;
}

header .tagline,
.tagline-skill {
  width: 315px;
  display: block;
  font-weight: 400;
}

.portfolio {
  padding-top: 10vh;
  color: rgb(109, 17, 55);
  font-size: 70px;
  text-align: center;
}

.contactme {
  margin-left: 10vh;
  padding-top: 10vh;
  color: rgb(109, 17, 55);
  font-size: 60px;
}

.cmstatement {
  margin-left: 10vh;
  margin-top: -50px;
  padding-bottom: -5vh;
  word-break: break-word;
  width: 50vh;
  color: rgb(109, 17, 55);
  font-size: 30px;
}

.email {
  margin-left: 10vh;
  color: rgb(109, 17, 55);
  font-size: 25px;
  font-weight: bold;
}

.phone {
  margin-left: 10vh;
  color: rgb(109, 17, 55);
  font-size: 25px;
  font-weight: bold;
}

.resume {
  margin-left: 10vh;
  color: rgb(109, 17, 55);
  font-size: 25px;
  font-weight: bold;
}

.githublink {
  margin-left: 10vh;
  margin-bottom: 30vh;
  color: rgb(109, 17, 55);
  font-size: 25px;
  font-weight: bold;
}

// about me pictures//

// Media Changes according to Screen Size..//

// @media all and (max-width: 1080px) {

//   .glass {
//     width: 60%;
//   }

//   .first {
//     font-size: 30px;
//   }

// .title {
// margin: auto;
// padding-left: 80px;
// font-size: 20px;
//   }
// }
