@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

.welcome-btn-container {
  box-sizing: border-box;
  margin: 0;
  display: grid;
  place-content: center;
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-content: center;
}

:root {
  --h: 33;
  --s: 90%;
  --l: 90%;

  font-family: "Noto Sans", sans-serif;
}

.glass {
  display: none;
  // width: 100%;
  // max-width: 75vw;
  height: 100%;
  max-height: 66vh;
  padding: 2rem;
  border-radius: 25px;
  box-shadow: 0 2px 10px rgb(0 0 0 / 10%), 0 10px 15px rgb(0 0 0 / 20%);
  backdrop-filter: blur(0.4em);
  background: hsla(212, 11%, 60%, 0);
  // background-image: linear-gradient(45deg, rgba(32,152,255,0.8), rgba(172,50,249,0.8));;
  transition: 0.3s ease;
  mix-blend-mode: hard-light;
  @media screen and (max-height: 480px) {
    padding: 0.8em;
  }
}

.welcome-btn {
  font-size: clamp(1.2rem, 5vw + 1rem, 2.5rem);
  width: 10em;
  height: 4em;

  border-radius: 0.5em;
  background: hsla(212, 11%, 60%, 0);

  box-shadow: 0 -0.125em 0.25em #0002,
    0 0.25em 0.25em hsl(var(--h) var(--s) var(--l) / 0.5),
    0 0 0 0.1em hsl(var(--h) var(--s) var(--l) / 0.5),
    0 0.175em 0.3em hsl(var(--h) var(--s) var(--l) / 0.5) inset,
    0 -0.025em 0.175em hsl(var(--h) var(--s) var(--l) / 0.4) inset,
    0 -0.25em 1em 0.3em hsl(var(--h) var(--s) var(--l) / 0.3) inset,
    0 0.6em 0 hsl(var(--h) var(--s) var(--l) / 0.3) inset, 0 2em 1em #0004;
  backdrop-filter: blur(0.15em);
  place-content: center;
  color: hsl(var(--h) var(--s) var(--l) / 0.7);
  text-shadow: 0.03em 0.03em #fff5, -0.03em -0.03em #0005;
  cursor: pointer;
  transition: 0.1s ease;
  padding-top: 0.2em;
}

.welcome-btn:after {
  content: "";
  inset: 0;
  top: 0.5em;

  background-image: linear-gradient(
    105deg,
    transparent 20%,
    hsl(var(--h) var(--s) var(--l) / 0.2) 20%,
    hsl(var(--h) var(--s) var(--l) / 0.2) 30%,
    transparent 30%,
    transparent 32%,
    hsl(var(--h) var(--s) var(--l) / 0.2) 5%,
    hsl(var(--h) var(--s) var(--l) / 0.2) 40%,
    transparent 0%
  );
  background-size: 400% 100%;
  background-position: 100% 0%;
  transition: 0.3s ease;
}

.welcome-btn:active:after {
  background-position: -50% 0%;
}

// button press animation
.welcome-btn:active {
  translate: 0.01em 0.25em;
  box-shadow: 0 -0.125em 0.25em #0002,
    0 0.25em 0.25em hsl(var(--h) var(--s) var(--l) / 0.5),
    0 0 0 0.1em hsl(var(--h) var(--s) var(--l) / 0.5),
    0 0.175em 0.3em hsl(var(--h) var(--s) var(--l) / 0.8) inset,
    0 -0.025em 0.175em hsl(var(--h) var(--s) var(--l) / 0.4) inset,
    0 -0.25em 1em 0.3em hsl(var(--h) var(--s) var(--l) / 0.3) inset,
    0 0.6em 0 hsl(var(--h) var(--s) var(--l) / 0.3) inset, 0 1em 0.5em #0004;
  backdrop-filter: blur(0.08em);
}

.welcome-btn:active:before {
  height: 1em;
}

.dots {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 100px;
  height: 50px;
  --red: #fc199a;
  --close: radial-gradient(circle, var(--red), var(--red) 7px, transparent 8px);
  background: var(--close) -28px no-repeat;
  filter: brightness(0.5);
  opacity: 0.75;
  cursor: pointer;
  border: none;
}

.scrolle {
  max-height: 100%;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  background-color: hsla(212, 11%, 60%, 0);
  border-radius: 50px;
  width: 0.5em;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
}

.first {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 20vh;
  font-size: 60px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 200;
  text-align: center;
  letter-spacing: 0.75em;
  color: rgb(109, 17, 55);
}

.title {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: -50px;
  font-size: 40px;
  font-family: "Rajdhani", sans-serif;
  letter-spacing: 0.25em;
  text-align: center;
  color: rgb(109, 17, 55);
}

.second {
  padding-top: 0;
  margin-top: 220px;
  font-size: 60px;
  text-align: center;
  color: rgb(109, 17, 55);
}

.aboutme {
  // margin-left: 20vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 0 0 0 10vh;
  align-items: start;
  color: rgb(109, 17, 55);
  font-size: 30px;
  word-break: break-word;
  text-align: center;
  width: 70vh;
}

/* Explanation in JS tab */

#container {
  /* Center the text in the viewport. */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: -20vh 0 0 70vh;
  width: 50vh;
  // height: 25vh;

  /* This filter is a lot of the magic, try commenting it out to see how the morphing works! */
  filter: url(#threshold) blur(0.6px);
}

/* Your average text styling */
#text1,
#text2 {
  position: absolute;
  color: rgb(109, 17, 55);
  width: 100%;
  word-break: break-word;
  // height: 100%;
  // display: flexbox;

  font-family: "Raleway", sans-serif;
  font-size: 50pt;

  text-align: center;

  user-select: none;
}

#filters {
  margin: auto;
}

.rounded {
  margin-top: 35vh;
  border-top: 8px solid #fff;
  border-radius: 5px;
}

.skills {
  padding-top: 20vh;
  color: rgb(109, 17, 55);
  font-size: 60px;
  margin-left: 25vh;
}

.pskills {
  display: inline-block;
  padding: 0 0 15vh 10vh;
  color: rgb(109, 17, 55);
  font-size: 30px;
  word-break: break-word;
  text-align: center;
  width: 70vh;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: -40vh 0 0 95vh;
  width: 300px;
  height: 300px;
  top: 170%;
  left: 70%;
  transform: translate(-50%, -50%) translateY(20px) scale(1.5);
  overflow: hidden;
}
@media screen and (max-width: 600px) {
  .wrapper {
    transform: translate(-50%, -50%) scale(1);
  }
}
.scontainer {
  position: absolute;
  width: 300px;
  height: 300px;
}
[data-typing] {
  position: absolute;
  top: 0;
  /*   border: 1px solid #f55; */
  transform-origin: 0% 0%;
  font-size: 25px;
  margin: 0;
  padding: 0;
  top: 100px;
  line-height: 1;
  color: #333;
}
[data-typing="i"] {
  top: 0;
  left: 50px;
  font-size: 90px;
  height: 70px;
  line-height: 70px;
}
[data-typing="frontend"] {
  top: 3px;
  left: 80px;
  font-size: 27px;
  letter-spacing: 1px;
}
[data-typing="engineer"] {
  top: 30px;
  left: 80px;
  font-size: 40px;
  letter-spacing: 1px;
}
[data-typing="with"] {
  top: 74px;
  left: 265px;
  font-size: 36px;
  transform: rotate(90deg);
  background: #333;
  color: #fff;
  padding: 0px 4px;
}
[data-typing="javascript"] {
  top: 74px;
  left: 229px;
  transform: rotate(90deg);
  font-size: 35px;
}
[data-typing="typescript"] {
  top: 72px;
  right: 110px;
  font-size: 25px;
}
[data-typing="css"] {
  top: 97px;
  right: 110px;
  font-size: 40px;
}
[data-typing="nodejs"] {
  top: 134px;
  right: 110px;
  font-size: 35px;
}
[data-typing="animation"] {
  top: 167px;
  right: 110px;
  font-size: 35px;
}
[data-typing="scenejs"] {
  top: 200px;
  right: 110px;
  font-size: 30px;
}

a {
  color: #333;
  text-decoration: none;
}

.scenejs-editor-timeline {
  position: fixed;
  bottom: 0;
  max-height: 300px;
}

// portfolio begins
.portfolio {
  padding-top: 10vh;
  color: rgb(109, 17, 55);
  font-size: 70px;
  text-align: center;
}

:root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1em;
  margin: 0 0 0.3em;
  color: #6a515e;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: 0.8em;
  color: #d7bdca;
}

.card__status {
  font-size: 0.8em;
  color: #d7bdca;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #d7bdca;
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: auto;
}

// contact me page begins

.contactme {
  margin-left: 10vh;
  padding-top: 10vh;
  color: rgb(109, 17, 55);
  font-size: 60px;
}

.cmstatement {
  margin-left: 10vh;
  margin-top: -50px;
  padding-bottom: -5vh;
  word-break: break-word;
  width: 50vh;
  color: rgb(109, 17, 55);
  font-size: 30px;
}

.email {
  margin-left: 10vh;
  color: rgb(109, 17, 55);
  font-size: 25px;
  font-weight: bold;
}

.phone {
  margin-left: 10vh;
  color: rgb(109, 17, 55);
  font-size: 25px;
  font-weight: bold;
}

.resume {
  margin-left: 10vh;
  color: rgb(109, 17, 55);
  font-size: 25px;
  font-weight: bold;
}

.githublink {
  margin-left: 10vh;
  margin-bottom: 30vh;
  color: rgb(109, 17, 55);
  font-size: 25px;
  font-weight: bold;
}

// about me pictures//

// Media Changes according to Screen Size..//

// @media all and (max-width: 1080px) {

//   .glass {
//     width: 60%;
//   }

//   .first {
//     font-size: 30px;
//   }

// .title {
// margin: auto;
// padding-left: 80px;
// font-size: 20px;
//   }
// }
